body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.text-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.text-box {
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  font-size: 13px;
  margin: 5px;
}

.radio-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px;
}

.compute-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.compute-button {
  background-color: grey;
  padding: 8px;
  border-radius: 3px;
  font-size: 13px;
  margin: 5px;
}

.result-1 {
  margin: 10px;
}

.result-2 {

}
